@import "../../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  color: $primary;
  position: fixed;
  width: 100%;
  z-index: 100;

  section:first-child {
    display: flex;
    align-items: center;
  }

  section:last-child {
    display: flex;
    align-items: center;

    img:last-child {
      margin-left: 1.4rem;
      width: 24px;
    }
  }

  a {
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    margin-left: 3.75rem;
    cursor: pointer;
    color: $primary;
    text-decoration: none;

    @media (max-width: 800px) {
      margin-left: 2rem;
    }
  }
}

@media (max-width: 767px) {
  .header {
    display: none;
  }
}

.header-sm {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  color: $primary;
  position: fixed;
  width: 100%;
  z-index: 100;

  .ham {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    // position: relative;
    // z-index: 120;
    transition: all 0.2s;
    .first,
    .open-first,
    .open-last {
      display: block;
      width: 24px;
      height: 2px;
      background-color: $primary;
      margin-bottom: 7px;
      border-radius: 10px 0px 0px 10px;
      transition: all 0.3s;
    }

    .open-first,
    .open-last {
      border-radius: 10px;
      margin-bottom: 0;
    }

    .open-first {
      transform: rotate(45deg);
      transition: all 0.3s;
      transform-origin: center;
      transform-style: preserve-3D;
    }

    .open-last {
      transform: translate(0px, -3px) rotate(-45deg);
      transition: all 0.3s;
      transform-origin: center;
      transform-style: preserve-3D;
    }
    .last {
      display: block;
      width: 16px;
      height: 2px;
      background-color: $primary;
      border-radius: 10px 0px 0px 10px;
      transition: all 0.3s;
    }
  }

  .ham-up {
    top: -30px;
    right: -30px;
    transition: all 0.2s;
  }
  .menu-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    padding: 3rem 1rem;
  }
  .menu {
    height: 100%;
    // background: linear-gradient(
    //   175.52deg,
    //   #1e1e1e 12.82%,
    //   rgba(30, 30, 30, 0.78) 99.08%
    // );
    border: 1px solid #ffe2c7;
    box-sizing: border-box;
    backdrop-filter: blur(100px);
    border-radius: 10px;
    animation: fade-in 0.8s ease-in 0s 1;
    padding: 5.7rem 2rem;
    padding-bottom: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .close {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 1.3rem;
      right: 1.5rem;
    }

    .social-sm {
      img {
        width: 16px;
        height: 16px;
        min-width: 16px;
        object-fit: contain;
        object-position: center;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li:first-child {
        margin-top: 4.35rem;
        margin-bottom: 1.2rem;
      }

      li {
        margin-bottom: 1.2rem;
      }

      li a {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 19px;
        text-align: center;
        letter-spacing: -0.025em;
        text-transform: uppercase;
        cursor: pointer;
        color: $primary;
        text-decoration: none;
      }
    }

    .socials {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.3rem;
      img:first-child {
        margin-right: 1.21rem;
      }
    }

    p {
      font-family: "Red Hat Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 13px;
      letter-spacing: -0.035em;
      text-transform: capitalize;
    }
  }

  @keyframes slide-in {
    from {
      right: -100%;
    }
    to {
      right: 0%;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .header-sm {
    display: none;
  }
}

.connect-btn {
  background-color: $primary !important;
  border: none;
  letter-spacing: 0.11em !important;
  color: #2f2d2e !important;
  padding: 1.2rem 2rem !important;

  @media (max-width: 650px) {
    font-size: 1rem !important;
    padding: 10px 16px !important;
    border-radius: 5px !important;
  }
}
